// Include any default variable overrides here (though functions won't be available)

//<- tady (nad @importem) je mozne vkladat css atributy pro prepsani hodnot puvodnich atributu

@import "../node_modules/bootstrap/scss/bootstrap.scss";
//⚠️bootstrap.scss -> musí byt uvedena přípona (bez přípony to někdy soubor nenajde a hlásí chybu)
//<- tady (pod @importem) se vypisuji nove vlastne vymyslene css atributy

// Then add additional custom code here
.mainTitle {
  font-size: 10vw;
  text-align: center;
}

.black-color {
  color: #0d0b0c;
}

.black-bg {
  background-color: #0d0b0c;
}

.blue-color {
  color: #c3d4e6;
}

.blue-bg {
  background-color: #c3d4e6;
}

.green-color {
  color: #8ca403;
}

.green-bg {
  background-color: #8ca403;
}

.light-color {
  color: #faf8e9;
}

.light-bg {
  background-color: #faf8e9;
}

.brown-color {
  color: #a86c0c;
}

.brown-bg {
  background-color: #a86c0c;
}
